<script type="text/javascript">

$(document).ready(function() {
    $(".new-button").click(function() {new_sticky("");});
    $("body").delegate(".close","click",delete_sticky);//Every sticky created gets a delete-method
    $("body").delegate(".sticky","focusout mouseout",update_sticky);//sticky gets an update on unfocus/mouseout
    $.each(<%= raw @stickies.to_json %> ,function(id,attr) { //Add all stickies on the cookie to the site
      add_sticky(id,attr);
    })
});

</script>
<div id="sticky-template">
  <div class="sticky-head">
    <button type="button" class="close">&times;</button>
  </div>
  <textarea class="text"></textarea>
</div>

<div id="sticky-container"></div>
