// Place all the styles related to the stickies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#sticky-template {
    display: none;
}

.sticky {
    background-color: #FEF4AC;
    float: left;
    margin: 20px;
    min-width: 200px;
    min-height: 200px;
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);  
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);  
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);  
}
.text{
    font-family: Gill Sans, Verdana;
    font-size:16px;
    font-weight: bold;

}
.sticky:hover, .sticky:focus{  
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);  
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);  
  box-shadow:10px 10px 7px rgba(0,0,0,.7);  
  z-index:5;  
} 



#sticky-container .sticky:nth-child(even){
  -transform:rotate(4deg);  
  -webkit-transform:rotate(4deg);  
  -moz-transform:rotate(4deg); 
  top:5px;

}

#sticky-container .sticky:nth-child(3n) {  
  -o-transform:rotate(-3deg);  
  -webkit-transform:rotate(-3deg);  
  -moz-transform:rotate(-3deg);  
  top:-5px;  
} 

#sticky-container .stickyi:nth-child(5n) a{  
  -o-transform:rotate(5deg);  
  -webkit-transform:rotate(5deg);  
  -moz-transform:rotate(5deg);  
  top:-10px;  
}


.sticky textarea {
    background-color: transparent;
    border: none;
    font-size: 14px;
    height: 180px;
    margin: 10px;
    min-width: 200px;
    min-height: 180px;
    padding-top: 10px;
    width: 200px;
}


